<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Sample app</h1>
    <h2>This is home page...</h2>
    <%= link_to "Sign up now!",  signup_path,  class: "btn btn-lg btn-primary" %>
  </div>
</div>
