<h1>Albums</h1>
<div class="row" style="margin: 20px 0px;">
    <a class="btn btn-primary" href="albums/new">New album
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</div><!--./end row -->

<div class="row">
    <% @albums.each do |album| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="<%= album.thumbnail_url ? album.thumbnail_url : 'http://www.adriantrimble.com/wp-content/themes/suburbia/images/default-thumbnail.jpg' %>" alt="<%= album.name %>" />
            </div>
            <div class="caption">
                <h3><%= link_to album.name, album %></h3>
                <p><%= album.description %></p>
            </div><!--caption-->
        </div>
    <% end %>
</div><!--/.row-->

