@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1 {
  text-align:center;
}
/* footer */
footer {
  position:absolute;
  width: 100%;
  bottom: 0px;
  background: #eaeaea;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px soild #ffffff;
  color: #777;
}
footer small {
  float: left;
  margin-left: 20px;
}
footer ul {
  float: right;
  list-style:none;
  margin-right:20px;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}

/* form */
input {
  width: 100%;
  margin-bottom: 15px;
  border: 1px soild #bbb;
  @include box_sizing;
}
input {
  height: auto !important;
}

/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* All users page */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow:auto;
    padding: 10px 0;
    boder-bottom: 1px solid #eaeaea;
  }
}
