@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1 {
  text-align:center;
}
/* footer */
footer {
  position:absolute;
  width: 100%;
  bottom: 0px;
  background: #eaeaea;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px soild #ffffff;
  color: #777;
}
footer small {
  float: left;
  margin-left: 20px;
}
footer ul {
  float: right;
  list-style:none;
  margin-right:20px;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}

/* form */
input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  border: 1px soild #bbb;
  @include box_sizing;
}
input {
  height: auto !important;
}

/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* All users page */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow:auto;
    padding: 10px 0;
    boder-bottom: 1px solid #eaeaea;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: red;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height:100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.stats {
  overflow:auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display:block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* album show */
.photos li {
  list-style: none;
  margin-bottom: 20px;
}
.photos li img {
  cursor: pointer;
}

.control {
  display:block;
  font-size: 11px;
  padding-top: 10px;
  font-weight:bold;
}
.control.next {
  float: right;
  text-align: right;
}
a.control:hover {
  cursor:pointer;
}
