<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to "SampleApp",  root_path,  id: "logo" %>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",  home_path %></li>
            <li><%= link_to "Help",  help_path %></li>
            <li><%= link_to "Log in",'#' %></li>
            </ul>
        </div>
    </div>
</nav>
